<% layout('layouts/boilerplate.ejs') %>
<body>
    <div class="row" style="margin-top: 15%;">
       <div class="alert alert-danger col-6 offset-3" role="alert">
        <i class="fa-solid fa-triangle-exclamation" style="font-size: 25px;"></i>
        <h4 style="display: inline;margin-left: 5px;"><%=message%></h4>
        </div>

    </div>
  

</body>